<ion-view view-title="About">
	<ion-content scroll="false">
		<ion-list>
			<ion-item class="item item-divider">
				Application Info
			</ion-item>
			<ion-item>
				App Name
				<span class="item-note">
					Cash Tracker
				</span>
			</ion-item>
			<ion-item>
				Publisher
				<span class="item-note">
					TetoDeMadeira
				</span>
			</ion-item>
			<ion-item>
				Version
				<span class="item-note">
					{{version}}
				</span>
			</ion-item>
			<ion-item class="item item-divider">
				Help and Support
			</ion-item>
			<ion-item ng-click="giveFeedback()">
				Give Feedback
				<span class="item-note">
					woodruffapps@gmail.com
				</span>
			</ion-item>
			<!-- TODO: Add this later, after app is published -->
			<!-- <ion-item ng-click="rateApp()">
				Rate This App
				<span class="item-note">
					Tell us what you think
					<i class="icon ion-android-happy"></i>
				</span>
			</ion-item> -->
		</ion-list>
	</ion-content>
</ion-view>
