<!--
This template loads for the 'tab.friend-detail' state (app.js)
'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
The FriendsCtrl pulls data from the Friends service (service.js)
The Friends service returns an array of friend data
-->
<ion-view view-title="Summary">
	<ion-content>
		<div class="list card">
			<div class="item item-divider">
				Recent Transactions
			</div>
			<div class="item item-text-wrap" ng-repeat="transaction in transactions | limitTo:5">
				<span>${{transaction.amount | number:2}}</span>
				<span>{{transaction.item}}</span>
				<span class="item-note">{{transaction.date}}</span>
			</div>
			<div class="item item-divider no-padding" align="right">
				<button class="button button-small button-clear button-positive">
					See More
				</button>
			</div>
		</div>
		<div class="card">
			<div class="item item-divider">
				Income This Month
			</div>
		</div>
	</ion-content>
	<!-- TODO: For charts, have a pie chart that shows percentage of expenses. -->
</ion-view>
